* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

body{
  max-width: 960px;

}

#leftPic, #centerPic, #rightPic  {
  width: 200px;
  height:auto;
}

.images{
  display:inline-block;
}
