* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

body{
  max-width: 960px;
  background-color: blue
}

#leftPic, #centerPic, #rightPic  {
  width: 200px;
  height:auto;
  margin-left: 50px;
  border: 2px solid black;
}

.images{
  display:inline-block;
}
